<h1>DUPLICATE WEEKLY</h1>

<a href="https://accounts.spotify.com/authorize?client_id=<%= CLIENT_ID %>&response_type=code&redirect_uri=/callback&show_dialog=false">Login</a>

<a href="#">Duplicate</a>
